In [1]:
import pandas as pd
import requests
import json
import csv
import glob
import zipfile

In [2]:
sensor_id = pd.read_csv("gsr_communitysites_districts.csv")

In [3]:
sensor_id.head()

   OBJECTID   Latitude   Longitude  Number    District  Sensor_ID Date_insta
0         1 -33.909915  151.156660       3  Inner West   11454704   08-13-18
1         2 -33.862485  151.165923       4  Inner West   11452996        NaN
2         3 -33.874345  151.164693       7  Inner West    7725378   09-04-18
3         4 -33.881957  151.178074       8      Sydney   13947625   09-03-18
4         5 -33.882251  151.134380       9  Inner West   13947371   08-27-18

In [4]:
name_list = []
df_list = []
for zip_file in glob.glob('c:\\Users\\davje\\Documents\\GitRepository\\air_pollution_sydney\\data_sensors\\*.zip'):
    sensor = zip_file[86:-12]
    day = zip_file[-6:-4]
    name_df = "df_" + sensor +"_" + day
    name_list.append(name_df)
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), sep=";") for f in zf.namelist()]
    vars()[name_df] = pd.concat(dfs,ignore_index=True)
    df_list.append(vars()[name_df])

In [5]:
len(name_list)

68

In [6]:
print(name_list)

['df_11454704_11', 'df_11454704_12', 'df_11455147_11', 'df_11455147_12', 'df_11455422_11', 'df_11455422_12', 'df_11455653_11', 'df_11455653_12', 'df_11493238_11', 'df_11493238_12', 'df_11493242_11', 'df_11493242_12', 'df_13946456_11', 'df_13946456_12', 'df_13946696_11', 'df_13946696_12', 'df_13947161_11', 'df_13947161_12', 'df_13947371_11', 'df_13947371_12', 'df_7269617_11', 'df_7269617_12', 'df_7269692_11', 'df_7269692_12', 'df_7270189_11', 'df_7270189_12', 'df_7270532_11', 'df_7270532_12', 'df_7270738_11', 'df_7270738_12', 'df_7270761_11', 'df_7270761_12', 'df_7271301_11', 'df_7271301_12', 'df_7271608_11', 'df_7271608_12', 'df_7271977_11', 'df_7271977_12', 'df_7273242_11', 'df_7273242_12', 'df_7274190_11', 'df_7274190_12', 'df_7274323_11', 'df_7274323_12', 'df_7274948_11', 'df_7274948_12', 'df_7274964_11', 'df_7274964_12', 'df_7275379_11', 'df_7275379_12', 'df_7275671-201_1)', 'df_7275671_12', 'df_751724_11', 'df_751724_12', 'df_7723233_11', 'df_7723233_12', 'df_7724591_11', 'df_7724591_12', 'df_7725303_11', 'df_7725303_12', 'df_7725358_11', 'df_7725358_12', 'df_7725477_11', 'df_7725477_12', 'df_7725836_11', 'df_7725836_12', 'df_7725900_11', 'df_7725900_12']

In [7]:
df_list[0]

,Time,durP1,ratioP1,P1,durP2,ratioP2,P2,SDS_P1,SDS_P2,PMS_P1,...,BMP_pressure,BME280_temperature,BME280_humidity,BME280_pressure,Samples,Min_cycle,Max_cycle,Signal,HPM_P1,HPM_P2
0,2019/11/01 00:00:02,NaN,NaN,NaN,NaN,NaN,NaN,62.95,48.90,NaN,...,NaN,NaN,NaN,NaN,1859734,77,26297,-65,NaN,NaN
1,2019/11/01 00:02:32,NaN,NaN,NaN,NaN,NaN,NaN,65.52,49.60,NaN,...,NaN,NaN,NaN,NaN,1859691,77,26668,-64,NaN,NaN
2,2019/11/01 00:05:02,NaN,NaN,NaN,NaN,NaN,NaN,64.32,48.73,NaN,...,NaN,NaN,NaN,NaN,1859578,77,26676,-64,NaN,NaN
3,2019/11/01 00:07:32,NaN,NaN,NaN,NaN,NaN,NaN,61.75,49.63,NaN,...,NaN,NaN,NaN,NaN,1859669,77,26627,-63,NaN,NaN
4,2019/11/01 00:10:02,NaN,NaN,NaN,NaN,NaN,NaN,64.45,48.63,NaN,...,NaN,NaN,NaN,NaN,1859490,77,26691,-65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6548,2019/11/12 11:16:53,NaN,NaN,NaN,NaN,NaN,NaN,46.78,6.80,NaN,...,NaN,NaN,NaN,NaN,2544109,54,26695,-66,NaN,NaN
6549,2019/11/12 11:19:28,NaN,NaN,NaN,NaN,NaN,NaN,39.35,6.45,NaN,...,NaN,NaN,NaN,NaN,2543994,54,26258,-70,NaN,NaN
6550,2019/11/12 11:22:00,NaN,NaN,NaN,NaN,NaN,NaN,32.92,6.30,NaN,...,NaN,NaN,NaN,NaN,2544040,54,26202,-69,NaN,NaN
6551,2019/11/12 11:24:34,NaN,NaN,NaN,NaN,NaN,NaN,36.75,5.82,NaN,...,NaN,NaN,NaN,NaN,2544082,54,26638,-67,NaN,NaN
6552,2019/11/12 11:27:18,NaN,NaN,NaN,NaN,NaN,NaN,39.08,6.10,NaN,...,NaN,NaN,NaN,NaN,2544029,54,26654,-70,NaN,NaN

In [8]:
df_11455147_11["SDS_P1"].mean()

32.55693802345059

In [9]:
df_11455147_11["SDS_P2"].mean()

15.686998324958125

In [10]:
df_11455147_11["SDS_P1"].sum()

97182.46

In [11]:
mean_dic ={}
sum_dic = {}
def get_mean(df, name_df):
    mean_dic[name_df + "_p1"] = df["SDS_P1"].mean()
    mean_dic[name_df + "_p2"] = df["SDS_P2"].mean()
def get_sum(df, name_df):
    sum_dic[name_df + "_p1"] = df["SDS_P1"].sum()
    sum_dic[name_df + "_p2"] = df["SDS_P2"].sum()

In [12]:
mean_dic ={}
sum_dic= {}
for df, name_df in zip(df_list, name_list):
    get_sum(df, name_df)
    get_mean(df, name_df)

In [13]:
mean_df = pd.DataFrame.from_dict(mean_dic, orient='index')

In [14]:
sum_df = pd.DataFrame.from_dict(sum_dic, orient='index')

In [15]:
mean_df.to_csv('mean_sensors.csv')

In [16]:
sum_df.to_csv('sum_sensors.csv')

In [17]:
test = pd.read_csv('mean_sensors.csv')
test.head()

          Unnamed: 0          0
0  df_11454704_11_p1  19.466780
1  df_11454704_11_p2   8.565854
2  df_11454704_12_p1  28.972143
3  df_11454704_12_p2  13.777287
4  df_11455147_11_p1  32.556938