In [1]:
import pandas as pd
import requests
import json
import csv
import glob
import zipfile

In [2]:
sensor_id = pd.read_csv("gsr_communitysites_districts.csv")

In [3]:
sensor_id.head()

   OBJECTID   Latitude   Longitude  Number    District  Sensor_ID Date_insta
0         1 -33.909915  151.156660       3  Inner West   11454704   08-13-18
1         2 -33.862485  151.165923       4  Inner West   11452996        NaN
2         3 -33.874345  151.164693       7  Inner West    7725378   09-04-18
3         4 -33.881957  151.178074       8      Sydney   13947625   09-03-18
4         5 -33.882251  151.134380       9  Inner West   13947371   08-27-18

In [4]:
name_list = []
df_list = []
for zip_file in glob.glob('c:\\Users\\davje\\Documents\\GitRepository\\air_pollution_sydney\\data_sensors_july\\*.zip'):
    sensor = zip_file[91:-12]
    day = zip_file[-6:-4]
    name_df = "df_" + sensor +"_" + day
    name_list.append(name_df)
    zf = zipfile.ZipFile(zip_file)
    dfs = [pd.read_csv(zf.open(f), sep=";") for f in zf.namelist()]
    vars()[name_df] = pd.concat(dfs,ignore_index=True)
    df_list.append(vars()[name_df])

In [5]:
len(name_list)

15

In [6]:
print(name_list)

['df_7270532_10', 'df_7270532_11', 'df_7270532_12', 'df_7270532_01', 'df_7274964_10', 'df_7274964_11', 'df_7274964_12', 'df_7274964_01', 'df_7275671_10', 'df_7275671_11', 'df_7275671_12', 'df_7275671_01', 'df_7723233_11', 'df_7723233_12', 'df_7723233_01']

In [7]:
df_7270532 = pd.concat([df_7270532_10, df_7270532_11, df_7270532_12, df_7270532_01])
df_7274964 = pd.concat([df_7274964_10, df_7274964_11, df_7274964_12, df_7274964_01])
df_7275671 = pd.concat([df_7275671_10, df_7275671_11, df_7275671_12, df_7275671_01])
df_7723233 = pd.concat([df_7270532_10, df_7723233_11, df_7723233_12, df_7723233_01])

In [8]:
df_7270532 = df_7270532[["Time", "SDS_P1", "SDS_P2"]]
df_7274964 = df_7274964[["Time", "SDS_P1", "SDS_P2"]]
df_7275671 = df_7275671[["Time", "SDS_P1", "SDS_P2"]]
df_7723233 = df_7723233[["Time", "SDS_P1", "SDS_P2"]]

In [9]:
df_7270532["Time"] = pd.to_datetime(df_7270532.Time)
df_7274964["Time"] = pd.to_datetime(df_7274964.Time)
df_7275671["Time"] = pd.to_datetime(df_7275671.Time)
df_7723233["Time"] = pd.to_datetime(df_7723233.Time)

In [10]:
df_7270532 = df_7270532[(df_7270532["Time"] >="2019-10-25") & (df_7270532["Time"] <= "2020-01-26")]
df_7274964 = df_7274964[(df_7274964["Time"] >="2019-10-25") & (df_7274964["Time"] <= "2020-01-26")]
df_7275671 = df_7275671[(df_7275671["Time"] >="2019-10-25") & (df_7275671["Time"] <= "2020-01-26")]
df_7723233 = df_7723233[(df_7723233["Time"] >="2019-10-25") & (df_7723233["Time"] <= "2020-01-26")]

In [11]:
df_list = [df_7270532, df_7274964, df_7275671, df_7723233]
name_list = ["df_7270532", "df_7274964", "df_7275671", "df_7723233"]
mean_dic ={}
sum_dic = {}
def get_mean(df, name_df):
    mean_dic[name_df + "_p1"] = df["SDS_P1"].mean()
    mean_dic[name_df + "_p2"] = df["SDS_P2"].mean()
def get_sum(df, name_df):
    sum_dic[name_df + "_p1"] = df["SDS_P1"].sum()
    sum_dic[name_df + "_p2"] = df["SDS_P2"].sum()

In [12]:
mean_dic ={}
sum_dic= {}
for df, name_df in zip(df_list, name_list):
    get_sum(df, name_df)
    get_mean(df, name_df)

In [13]:
mean_df = pd.DataFrame.from_dict(mean_dic, orient='index')

In [14]:
mean_df

                       0
df_7270532_p1  33.837877
df_7270532_p2  18.179006
df_7274964_p1  26.285351
df_7274964_p2  13.458884
df_7275671_p1  53.800102
df_7275671_p2  28.120698
df_7723233_p1  34.269354
df_7723233_p2  18.524793

In [15]:
mean_df.to_csv('mean_sensors_july.csv')

In [16]:
df_7270532.to_csv('df_7270532.csv')
df_7274964.to_csv('df_7274964.csv')
df_7275671.to_csv('df_7275671.csv')
df_7723233.to_csv('df_7723233.csv')