In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
hazard_df = pd.read_csv("pm10_pm2p5_hazard_calculation.csv")

In [3]:
hazard_df.head()

,district,november_pm10,december_pm10,november_pm2p5,december_pm2p5
0,Blacktown,51.173333,52.216129,24.295805,26.364516
1,Camden,38.933333,61.648387,17.524138,43.300000
2,Campbelltown,39.068966,51.879310,17.453333,33.645161
3,Canterbury-Bankstown,40.685000,45.933037,19.819298,25.603560
4,Hawksbury,50.120690,56.222581,26.093103,31.290000

In [4]:
hazard_df.columns

Index(['district', 'november_pm10', 'december_pm10', 'november_pm2p5',
       'december_pm2p5'],
      dtype='object')

In [5]:
indicadors_df = pd.read_csv("indicators_per_district.csv")

In [6]:
indicadors_df.head()

,District,persons_04_65,females,persons_km2,non_australian,arrived_within_5,year_11_under,non_proficient,unemployment_rate,below_poverty_line,renters,multi_unit_housing,premature_deaths,hospital_beds_1000,copd_hosp,asthma_hosp,inf_pan_hosp,protected_areas
0,Bayside,20.1,49.71,3575.8,26.3,9.80,37.8,7.27,6.0,45.8,42.5,46.36,29.01,1.46,168.8,96.0,309.9,6.46
1,Blacktown,18.6,49.90,1559.9,19.3,5.62,44.7,4.24,7.3,45.9,35.6,5.98,44.09,0.81,310.9,167.8,421.1,10.49
2,Blue Mountains,25.9,51.31,55.3,9.9,1.02,45.2,0.37,4.7,43.3,21.4,2.61,33.51,0.64,156.4,167.9,389.3,76.07
3,Burwood,18.4,50.76,5697.5,35.7,16.70,29.6,12.87,7.6,51.1,46.0,44.02,27.24,1.69,109.2,81.8,281.9,0.00
4,Camden,18.2,50.77,504.6,10.4,1.43,52.6,1.16,4.1,38.4,23.8,1.38,38.71,0.61,216.4,128.8,409.1,1.71

In [7]:
indicadors_df.columns

Index(['District', 'persons_04_65', 'females', 'persons_km2', 'non_australian',
       'arrived_within_5', 'year_11_under', 'non_proficient',
       'unemployment_rate', 'below_poverty_line', 'renters',
       'multi_unit_housing', 'premature_deaths', 'hospital_beds_1000',
       'copd_hosp', 'asthma_hosp', 'inf_pan_hosp', 'protected_areas'],
      dtype='object')

In [8]:
# Normalized hazard (MinMaxScaler)
data_hazard = hazard_df.drop(["district"], axis=1)
scaler = MinMaxScaler()
print(scaler.fit(data_hazard))
MinMaxScaler()
print(scaler.data_max_)
hazard_normalized = scaler.transform(data_hazard)

MinMaxScaler()
[51.17333333 75.70471429 26.09310345 61.77586207]

In [9]:
hazard_normalized = pd.DataFrame(hazard_normalized, columns=['november_pm10', 'december_pm10', 'november_pm2p5', 'december_pm2p5'])
hazard_normalized['district']= hazard_df['district']

In [10]:
hazard_normalized.head()

,november_pm10,december_pm10,november_pm2p5,december_pm2p5,district
0,1.000000,0.492849,0.905818,0.239381,Blacktown
1,0.648125,0.696505,0.550967,0.603147,Camden
2,0.652025,0.485577,0.547257,0.395766,Campbelltown
3,0.698482,0.357189,0.671239,0.223036,Canterbury-Bankstown
4,0.969739,0.579354,1.000000,0.345178,Hawksbury

In [11]:
# Normalized indicators (MinMax Scaler)
data_indicators = indicadors_df.drop(["District"], axis=1)
scaler = MinMaxScaler()
print(scaler.fit(data_indicators))
MinMaxScaler()
print(scaler.data_max_)
indicators_normalized = scaler.transform(data_indicators)

MinMaxScaler()
[2.5900e+01 5.3590e+01 9.2115e+03 4.4100e+01 1.9410e+01 6.1300e+01
 1.9570e+01 1.0500e+01 5.9300e+01 6.6200e+01 7.8300e+01 5.1590e+01
 1.9600e+00 3.1090e+02 2.0450e+02 4.9600e+02 7.6070e+01]

In [12]:
indicators_normalized = pd.DataFrame(indicators_normalized, columns=['persons_04_65', 'females', 'persons_km2', 'non_australian',        'arrived_within_5', 'year_11_under', 'non_proficient', 'unemployment_rate', 'below_poverty_line', 'renters','multi_unit_housing', 'premature_deaths', 'hospital_beds_1000', 'copd_hosp', 'asthma_hosp', 'inf_pan_hosp','protected_areas'])
indicators_normalized['district']= indicadors_df['District']

In [13]:
indicators_normalized.head()

,persons_04_65,females,persons_km2,non_australian,arrived_within_5,year_11_under,non_proficient,unemployment_rate,below_poverty_line,renters,multi_unit_housing,premature_deaths,hospital_beds_1000,copd_hosp,asthma_hosp,inf_pan_hosp,protected_areas,district
0,0.573529,0.318102,0.386804,0.494318,0.489373,0.415423,0.360042,0.375000,0.575472,0.497881,0.584763,0.376071,0.655172,0.437005,0.225000,0.274464,0.084922,Bayside
1,0.463235,0.351494,0.167463,0.295455,0.267269,0.587065,0.202393,0.555556,0.578616,0.351695,0.059802,0.792760,0.206897,1.000000,0.737857,0.707992,0.137899,Blacktown
2,1.000000,0.599297,0.003754,0.028409,0.022848,0.599502,0.001041,0.194444,0.496855,0.050847,0.015991,0.500414,0.089655,0.387876,0.738571,0.584016,1.000000,Blue Mountains
3,0.448529,0.502636,0.617657,0.761364,0.856004,0.211443,0.651405,0.597222,0.742138,0.572034,0.554342,0.327162,0.813793,0.200872,0.123571,0.165302,0.000000,Burwood
4,0.433824,0.504394,0.052640,0.042614,0.044633,0.783582,0.042144,0.111111,0.342767,0.101695,0.000000,0.644101,0.068966,0.625594,0.459286,0.661209,0.022479,Camden

In [14]:
hazard_region_df = pd.read_csv("hazard_region.csv")

In [15]:
hazard_region_df.head()

,District,Region,november_pm10,december_pm10,november_pm2p5,december_pm2p5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Bayside,Eastern City,38.998781,40.298781,17.782387,21.249332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Blacktown,Central City,51.173333,52.216129,24.295805,26.364516,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Blue Mountains,Western City,42.847905,58.447449,22.180307,41.535029,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Burwood,Eastern City,38.998781,40.298781,17.782387,21.249332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Camden,Western City,38.933333,61.648387,17.524138,43.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
hazard_region_df = hazard_region_df[['District', 'november_pm10', 'december_pm10',
       'november_pm2p5', 'december_pm2p5']]

In [17]:
hazard_region_df.columns

Index(['District', 'november_pm10', 'december_pm10', 'november_pm2p5',
       'december_pm2p5'],
      dtype='object')

In [18]:
# Normalized hazard region (MinMaxScaler)
data_hazard_region = hazard_region_df.drop(["District"], axis=1)
scaler = MinMaxScaler()
print(scaler.fit(data_hazard_region))
MinMaxScaler()
print(scaler.data_max_)
hazard_region_normalized = scaler.transform(data_hazard_region)

MinMaxScaler()
[51.17333333 75.70471429 39.06896552 61.77586207]

In [19]:
hazard_region_normalized = pd.DataFrame(hazard_region_normalized, columns=['november_pm10', 'december_pm10', 'november_pm2p5',
       'december_pm2p5'])
hazard_region_normalized['district']= hazard_region_df['District']

In [20]:
hazard_region_normalized.head()

,november_pm10,december_pm10,november_pm2p5,december_pm2p5,district
0,0.650007,0.235538,0.336019,0.129510,Bayside
1,1.000000,0.492849,0.539189,0.239381,Blacktown
2,0.760661,0.627392,0.473201,0.565237,Blue Mountains
3,0.650007,0.235538,0.336019,0.129510,Burwood
4,0.648125,0.696505,0.327964,0.603147,Camden

In [21]:
hazard_neighbour_df = pd.read_csv("hazard_neighbour.csv")

In [22]:
hazard_neighbour_df = hazard_neighbour_df[['District', 'november_pm10', 'december_pm10',
       'november_pm2p5', 'december_pm2p5']]

In [23]:
hazard_neighbour_df.columns

Index(['District', 'november_pm10', 'december_pm10', 'november_pm2p5',
       'december_pm2p5'],
      dtype='object')

In [24]:
# Normalized hazard neighbour (MinMaxScaler)
data_hazard_neighbour = hazard_neighbour_df.drop(["District"], axis=1)
scaler = MinMaxScaler()
print(scaler.fit(data_hazard_neighbour))
MinMaxScaler()
print(scaler.data_max_)
hazard_neighbour_normalized = scaler.transform(data_hazard_neighbour)

MinMaxScaler()
[51.17333333 75.70471429 39.06896552 61.77586207]

In [25]:
hazard_neighbour_normalized = pd.DataFrame(hazard_neighbour_normalized, columns=['november_pm10', 'december_pm10', 'november_pm2p5',
       'december_pm2p5'])
hazard_neighbour_normalized['district']= hazard_neighbour_df['District']

In [27]:
hazard_neighbour_normalized.head()

,november_pm10,december_pm10,november_pm2p5,december_pm2p5,district
0,0.681681,0.288982,0.369275,0.187554,Bayside
1,1.000000,0.492849,0.539189,0.239381,Blacktown
2,0.819017,0.700834,0.387295,0.532737,Blue Mountains
3,0.681880,0.287814,0.362291,0.190987,Burwood
4,0.648125,0.696505,0.327964,0.603147,Camden

In [15]:
exposure_df = pd.read_csv("exposure_neighbours.csv")

In [16]:
exposure_df.columns

Index(['District ', 'Neighbouring_district ', 'pm10_conc_average',
       'pm10_exc_days', 'pm2.5_conc_average', 'pm2.5_exc_days',
       'Population_count'],
      dtype='object')

In [17]:
exposure_data = exposure_df.drop(columns=['District ', 'Neighbouring_district '], axis=1)

In [18]:
exposure_data.head()

,pm10_conc_average,pm10_exc_days,pm2.5_conc_average,pm2.5_exc_days,Population_count
0,42.27,27,21.36,27,178396
1,51.46,34,24.14,33,374451
2,54.77,36,28.14,36,79118
3,42.36,27,21.02,28,40612
4,51.30,33,29.98,36,101437

In [19]:
# Normalized exposure neighbour (MinMaxScaler)
scaler = MinMaxScaler()
print(scaler.fit(exposure_data))
MinMaxScaler()
print(scaler.data_max_)
exposure_neighbour_normalized = scaler.transform(exposure_data)

MinMaxScaler()
[5.93800e+01 5.40000e+01 4.62600e+01 4.60000e+01 3.77917e+05]

In [20]:
exposure_neighbour_normalized = pd.DataFrame(exposure_neighbour_normalized, columns=['pm10_conc_average','pm10_exc_days', 'pm2.5_conc_average', 'pm2.5_exc_days','Population_count'])
exposure_neighbour_normalized['district']= exposure_df['District ']

exposure_neighbour_normalized.to_csv('exposure_neighbour_normalized.csv')

In [22]:
exposure_neighbour_normalized.head()

,pm10_conc_average,pm10_exc_days,pm2.5_conc_average,pm2.5_exc_days,Population_count,district
0,0.482925,0.035714,0.240854,0.424242,0.450260,Bayside
1,0.760653,0.285714,0.325610,0.606061,0.990450,Blacktown
2,0.860683,0.357143,0.447561,0.696970,0.176719,Blue Mountains
3,0.485645,0.035714,0.230488,0.454545,0.070624,Burwood
4,0.755817,0.250000,0.503659,0.696970,0.238215,Camden

In [28]:
# Save files
hazard_normalized.to_csv('hazard_normalized.csv')
hazard_neighbour_normalized.to_csv('hazard_neighbour_normalized.csv')
indicators_normalized.to_csv('indicators_normalized.csv')
hazard_region_normalized.to_csv('hazard_region_normalized.csv')

In [35]:
# Standardization hazard (StandardScaler)
# https://cmdlinetips.com/2020/12/compute-standardized-values-z-score-python/
nrmlzd = StandardScaler()
hazard_std =nrmlzd.fit_transform(data_hazard)

In [36]:
hazard_std = pd.DataFrame(hazard_std, columns=['november_pm10', 'december_pm10', 'november_pm2p5', 'december_pm2p5'])
hazard_std['district']= hazard_df['district']

In [37]:
hazard_std

,november_pm10,december_pm10,november_pm2p5,december_pm2p5,district
0,1.448821,0.547655,1.594737,-0.027121,Blacktown
1,0.140159,1.307285,0.132578,1.441249,Camden
2,0.154660,0.520530,0.117289,0.604139,Campbelltown
3,0.327441,0.041645,0.628156,-0.093098,Canterbury-Bankstown
4,1.336275,0.870316,1.982816,0.399937,Hawksbury
5,-1.073699,-1.096529,-1.012330,-0.923415,Inner West
6,0.730161,0.498868,0.280671,0.631870,Liverpool
7,-0.848826,-1.290663,-0.666952,-0.939991,North Sydney
8,-2.270294,-1.246102,-2.137681,-0.953492,Northern Beaches
9,1.198992,0.149655,0.572167,-0.286113,Parramatta
10,0.907584,0.660665,-0.004422,0.027978,Penrith
11,0.263470,-0.204060,0.515228,-0.264040,Randwick
12,0.169462,-0.535155,0.328894,-0.452249,Ryde
13,-0.701350,-1.210293,0.433758,-0.623316,Sydney
14,-0.298954,-0.597456,-1.048244,-0.993402,Waverley
15,-1.567217,-0.855678,-1.368131,-0.592112,Willoughby
16,0.083315,2.439316,-0.348534,3.043176,Wollondilly

In [38]:
# Standardization indicators (StandardScaler)
nrmlzd = StandardScaler()
indicators_std =nrmlzd.fit_transform(data_indicators)

In [39]:
indicators_std = pd.DataFrame(indicators_std, columns=['persons_04_65', 'females', 'persons_km2', 'non_australian',        'arrived_within_5', 'year_11_under', 'non_proficient', 'unemployment_rate', 'below_poverty_line', 'renters','multi_unit_housing', 'premature_deaths', 'hospital_beds_1000', 'copd_hosp', 'asthma_hosp', 'inf_pan_hosp','protected_areas'])
indicators_std['district']= indicadors_df['District']

In [40]:
indicators_std

,persons_04_65,females,persons_km2,non_australian,arrived_within_5,year_11_under,non_proficient,unemployment_rate,below_poverty_line,renters,multi_unit_housing,premature_deaths,hospital_beds_1000,copd_hosp,asthma_hosp,inf_pan_hosp,protected_areas,district
0,-0.200398,-0.674769,0.261466,0.640375,0.584544,0.091443,0.473321,0.223917,0.538875,0.497351,0.641614,-0.275707,0.504592,0.212566,-0.673799,-0.571066,-0.526636,Bayside
1,-0.797969,-0.512669,-0.591324,-0.218665,-0.334549,0.688052,-0.205013,0.946174,0.553499,-0.141739,-1.193651,1.512886,-1.061761,2.145069,1.284856,1.471811,-0.334890,Blacktown
2,2.110213,0.690281,-1.227818,-1.372232,-1.345991,0.731285,-1.071400,-0.498341,0.173273,-1.456970,-1.346817,0.258024,-1.471422,0.043931,1.287584,0.887607,2.785394,Blue Mountains
3,-0.877646,0.221045,1.159013,1.793942,2.101707,-0.617570,1.727007,1.112848,1.313950,0.821528,0.535262,-0.485642,1.058840,-0.597970,-1.061166,-1.085459,-0.834002,Burwood
4,-0.957322,0.229576,-1.037750,-1.310872,-1.255841,1.371127,-0.894540,-0.831690,-0.543306,-1.234677,-1.402721,0.874780,-1.543716,0.859907,0.220963,1.251356,-0.752640,Camden
5,-0.200398,0.076008,-1.019348,-0.562280,-0.789698,1.362480,-0.471421,1.279523,0.772860,-0.058380,-1.248191,1.993244,-1.182250,1.949234,2.286008,2.847813,-0.577071,Campbelltown
6,0.197983,0.826785,0.788733,0.444023,0.318491,-0.444640,0.224822,-0.331666,-0.353193,0.247272,0.904769,-0.503433,0.528690,-0.659168,-1.096629,-1.070762,-0.780712,Canada Bay
7,0.237821,-0.657706,0.199026,-0.071401,-0.099279,0.653466,1.397914,1.446198,1.723424,0.293583,-0.245567,0.240233,-0.097851,0.919745,0.979328,0.529369,-0.498564,Centerbury-Bankstown
8,-0.558941,-2.218981,0.176733,0.799911,1.000115,0.506476,1.673278,2.168455,1.723424,0.682595,-0.198754,0.849873,-0.218340,0.722551,1.857722,1.398326,-0.610377,Cumberland
9,0.038631,-0.205533,-0.368979,-0.267753,0.076624,1.293308,3.226953,2.724037,2.513123,0.173175,-0.782784,0.553355,-0.411122,0.290084,0.586506,0.384236,-0.501895,Fairfield
10,0.118307,-0.043433,0.508051,0.394935,0.399846,-0.159305,0.994944,0.501708,0.641243,-0.215837,0.101215,-0.798764,0.384103,-0.411656,0.152764,-0.600460,-0.618465,Georges River
11,0.197983,-0.231128,-1.240975,-1.323144,-1.405358,2.054201,-1.031103,-0.720573,0.012408,-0.891976,-1.291823,0.588937,-1.182250,2.087950,-0.070926,0.865561,2.597929,Hawkesbury
12,0.397174,0.067477,-1.109835,-0.611368,-0.451084,-0.461933,-0.303517,-0.442782,-0.236201,-1.123531,-0.650980,-1.006326,-0.387024,-0.607490,0.185499,0.319937,1.323742,Hornsby
13,1.751670,-1.101346,-0.142741,-1.114520,-1.112919,-0.323589,-0.525151,-1.220598,-0.250825,-0.725257,-0.435547,-1.889948,1.564892,-0.550372,-0.174588,0.180316,-0.406259,Hunters Hill
14,-1.036998,0.195450,1.150425,0.063591,-0.171839,-0.548398,-0.043825,-0.442782,-0.733419,0.904887,0.448452,0.304281,0.311810,0.755190,-0.556498,0.016812,-0.815922,Inner West
15,0.875231,1.159516,-0.621444,-0.550008,-0.371928,-1.127714,-0.388588,-0.498341,-0.543306,-1.558854,-0.443274,-1.522266,-0.362927,-1.287470,-0.575594,-0.765800,0.729470,Ku-ring-gai
16,-0.160560,-0.086091,0.369762,-0.157305,-0.046508,-1.231472,-0.581119,-0.665015,-1.420750,0.034242,0.907496,-0.941092,0.841960,-1.180033,-0.297345,0.218896,-0.288262,Lane Cove
17,0.994745,-0.307912,-0.936307,-0.427288,-0.536837,0.956094,0.614361,1.057290,1.284702,-0.113953,-0.829143,1.125041,-0.893077,1.323653,2.253272,0.918838,-0.464783,Liverpool
18,1.512641,2.635476,0.263877,-0.083673,-0.033315,-1.067189,-0.907973,-0.942806,-1.347630,0.006455,0.918859,-0.898394,0.769667,-1.228991,-1.093901,-0.695990,-0.040371,Mosman
19,0.038631,1.304553,1.775413,0.566743,0.399846,-1.352524,-0.764694,-1.053923,-2.137329,1.506929,1.942844,0.411027,0.673276,-1.156914,-0.095478,-0.808054,-0.543765,North Sydney
20,0.755717,0.255171,-0.796072,-0.586824,-0.589608,-0.142012,-0.845288,-1.165039,-0.879660,-0.660422,0.050312,-0.739460,-0.121949,-0.705407,-0.534675,-0.155877,1.332307,Northern Beaches
21,-0.558941,-0.930715,0.046692,1.045351,1.063880,-0.427347,0.663613,0.779499,0.421882,0.719644,0.309830,0.588937,-0.025558,-0.195422,0.638336,-0.436956,-0.327277,Parramatta
22,-0.479265,-0.171407,-1.028570,-0.893624,-1.095329,1.742927,-0.782604,0.057242,0.144025,-0.354770,-1.156382,1.566259,-1.206347,1.493648,1.413069,1.148478,0.096659,Penrith
23,0.715879,-0.205533,0.561142,0.996263,0.791230,-0.531105,-0.296801,0.001684,0.144025,1.256850,1.128382,-0.404989,1.372110,-0.073026,-0.619241,-0.977069,-0.176925,Randwick
24,-0.319912,0.434334,0.120808,0.615831,0.841802,-0.695389,0.484514,0.390591,0.173273,0.386205,0.186661,-0.608993,0.793765,-0.043107,-0.526491,0.090297,-0.329180,Ryde
25,-1.236189,-1.621771,0.166622,1.573046,1.611378,-0.773207,1.315082,0.779499,0.626619,0.886363,0.889316,-0.885347,1.709479,-0.876762,-1.167555,-1.116690,-0.732657,Strathfield
26,0.994745,0.229576,-0.958770,-1.372232,-1.205268,0.644820,-0.892302,-1.165039,-0.660299,-1.216153,-0.436456,-0.687273,-0.748490,-0.509573,-0.095478,-0.249570,1.487892,Sutherland Shire
27,-3.307770,-2.014223,2.645547,2.824789,2.697579,-0.894259,0.148706,0.223917,-0.002216,2.692489,2.093283,2.402438,0.070833,0.313203,-1.082989,-0.747429,-0.803551,Sydney
28,-0.439426,-0.094623,-1.056236,-0.869080,-0.675361,-0.271710,-0.415453,-0.553899,-0.470186,-1.605165,-1.194560,-0.123890,-1.447325,-1.007318,-0.654704,-0.670270,-0.653674,The Hills Shire
29,-0.678455,0.289297,2.109946,0.910359,0.621924,-0.842380,-0.827379,-0.720573,-1.099020,1.293899,1.465620,-0.402617,1.396208,-0.816924,-1.533098,-1.864398,-0.322995,Waverley
30,-0.359750,0.758533,0.280291,0.603559,0.696682,-1.196886,0.330042,-0.276108,-0.557930,0.265797,0.618889,-1.053769,1.275720,-0.818284,0.024551,-0.148528,-0.193578,Willoughby
31,0.078469,-0.589453,-1.242413,-1.494952,-1.440539,2.123373,-1.075877,-0.887248,0.012408,-1.679262,-1.384086,0.668404,-1.784693,0.757910,-0.240058,0.942720,2.184461,Wollondilly
32,1.154098,2.294213,0.795036,0.014503,-0.244399,-1.110421,-0.950509,-1.276156,-1.537742,0.367681,1.097931,-0.709809,0.890156,-1.148754,-1.020247,-1.507996,-0.403405,Woolahra

In [42]:
# Save files
hazard_normalized.to_csv('hazard_normalized.csv')
hazard_std.to_csv('hazard_std.csv')
indicators_normalized.to_csv('indicators_normalized.csv')
indicators_std.to_csv('indicators_std.csv')